
<h1>Welcome to</h1>
<h1>Two Wheeled Buy & Sell</h1>

<h3>The webs foremost marketplace for custom motorcycle parts and accessories</h3>

<%= button_to "Sign Up", "/users/sign_up", method: :get %>
<%= button_to "Sign In", "/users/sign_in", method: :get %>
