
<h1 class="subtitle">Welcome to</h1>
<h1 class="web-name"><strong>Two Wheeled Buy & Sell</strong></h1>

<h3 class="tagline">The webs foremost marketplace for custom motorcycle parts and accessories</h3>

<div class="login-container">
    <%= button_to "Sign Up", "/users/sign_up", class: 'sign-up-button', method: :get %>
    <%= button_to "Sign In", "/users/sign_in", class: 'log-in-button', method: :get %>
</div>
