
<h1 class="">Welcome to</h1>
<h1 class=""><strong>Two Wheeled Buy & Sell</strong></h1>

<h3 class="">The webs foremost marketplace for custom motorcycle parts and accessories</h3>

<div class="">
    <%= button_to "Sign Up", "/users/sign_up", method: :get %>
    <%= button_to "Sign In", "/users/sign_in", method: :get %>
</div>
