<h1>Posts Page</h1>

<div class="card" >
    <% @posts.each do |post| %>
        <a href="<%= "/posts/#{post.id}" %>">
        <div class="card-body" >
            <h3 class="card-title"><%= post.title %></h3>
            <p class="card-subtitle">$<%= post.price %></p>
            <p class="card-img-left", alt="An image of the item for sale"><%= image_tag post.image %>
        </div>
        </a>
    <% end %>
</div>
