<div class="card">
   
    <div class="card-body">
        <p>$<%= @post.price %></p>
        <p><%= @post.title %></p>
        <p><%= @post.description %></p>
    </div>
    <div><%= image_tag @post.image %></div>
</div>