
.background {
    background-image: linear-gradient(to bottom, rgb(225, 241, 233), rgb(56, 246, 183));
    min-height: 800px;
}

/* Avatar styling */

.avatar {
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.navbar-avatar {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-bottom: -15px;
    list-style-type: none;
}

/* Navbar styling  */

.navbar {
    width: 100%;
    height: auto;
    background-color: #3b3b3b;
}

.logo {
    color: rgb(199, 230, 215);
    font-family: 'Times New Roman', Times, serif;
}

.nav-ul {
    display: flex;
    margin-top: 15px;
}

.nav-item {
    padding: 0px 8px;
    list-style-type: none;
    font-size: 1em;
}

.navbar-link {
    color: rgb(56, 246, 183);
    font-family: serif; 
    font-size: 1em;
}

.navbar-logo {
    justify-content: left;
    color: #3b3b3b;
    font-family: serif; 
    font-size: 1em;
}

li {
    list-style-type: none;
}

/* Post cards styling */

h1 {
    font-family: 'Times New Roman', Times, serif;

}

.posts-title {
    text-align: center;
    color:  #3b3b3b;
    margin-top: 5%;
}

.card-img {
    height: auto;  
    width: 100%;
}

.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 50px;
}

.card {
    display: flex;
    align-items: center;
    width: 270px;
    height: 450px;
    border-radius: 5px;
    column-gap: 20px;
    margin-bottom: 50px;
}

.card-body {
    width: 270px;
    height: 225px;
}
.card-title {
    font-family: 'Times New Roman', Times, serif;
    color:  #3b3b3b;
    text-align: center;
}
.posts-text {
    font-family: 'Times New Roman', Times, serif;
    color:  #3b3b3b; 
}

.text {
    font-family: 'Times New Roman', Times, serif;
    color:  #3b3b3b; 
    font-size: 20px;
}

.post-img {
    width: 500px;
    margin: 40px 20px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.edit-user-info {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

/* Welcome page styling */

.moto-man-logo {
    width: 18%;
    margin-top: 60px;
    margin-bottom: -155px;
}

.opening-container {
    text-align  : center;
} 

.opening-block {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    padding-top: 100px;
    color: #3b3b3b;
}

.welcome-text {
}

.welcome-text-1 {
    font-size: 25px;
    margin-right: 29%;
}

.welcome-text-2 {
    font-size: 70px;
}

.welcome-text-3 {
    font-size: 20px;
    font-style: oblique;
}

.welcome-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.sign-up-button {
    background-color: rgb(225, 241, 233);
    border: 2px solid #3b3b3b;
    color:  #3b3b3b;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    width: 120px;
    margin: 0px 20px;
}

.sign-in-button {
    background-color: rgb(225, 241, 233);
    border: 2px solid #3b3b3b;
    color:  #3b3b3b ;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
    border-radius: 20px;
    width: 120px;
    margin: 0px 20px;
}

.forgot-password {
    text-align: center;
}

